@import "reset.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #2c303f;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.3rem;
}

/*  navbar  */

#nav-id {
  display: flex;
  flex-wrap: row;
  justify-content: space-between;
  align-items: center;
}

#nav-id img {
  width: 30%;
}
#nav-id a {
  margin: 15px;
  text-decoration: none;
  color: #5b5e6d;
}

#nav-id ul {
  display: flex;
  margin-left: 15rem;
}
#logo {
  width: 20rem;
}
#dropdown {
  display: flex;
}

#nav-margin {
  margin: 0;
}

/*  header  */

header {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  margin: 0 auto;

  justify-content: center;
  height: auto;
}

header img {
  max-width: 100%;
  /*height: auto;*/
}

.title {
  margin: 50px;
  height: 20rem;
  width: 25rem;
}

.title p {
  margin: 50px 0;
}

.title a {
  background-color: #222b37;

  color: rgb(255, 255, 255);
}
.cover-img2 {
  height: 30rem;
  width: 30rem;
  margin: 0px auto;
  background: center url("/images/general-city.jpg");
  background-size: cover;
}

.cover-img2 button {
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  width: 10rem;
  height: 1.7rem;
  box-shadow: 1px 5px rgb(0, 0, 0, 0.1);
}

button span {
  margin-right: 10px;
}
.btn-1 {
  background-color: rgb(160, 105, 220);
  position: relative;

  top: 220px;
  left: 100px;
  animation: btn-slide1 10s cubic-bezier(0.175, 0.67, 0.83, 0.67) infinite;
}
.btn-2 {
  background-color: rgb(241, 158, 57);
  position: relative;
  top: 200px;
  left: 135px;
  animation: btn-slide2 10s cubic-bezier(0.175, 0.67, 0.83, 0.67) 1s infinite;
}
.btn-3 {
  background-color: rgb(56, 140, 221);
  position: relative;
  top: 230px;
  left: 120px;
  animation: btn-slide3 10s cubic-bezier(0.175, 0.67, 0.83, 0.67) 0.5s infinite;
}

@keyframes btn-slide1 {
  0% {
    left: 100px;
  }
  50% {
    left: 120px;
  }
  100% {
    left: 100px;
  }
}
@keyframes btn-slide2 {
  0% {
    left: 135px;
  }
  50% {
    left: 150px;
  }
  100% {
    left: 135px;
  }
}
@keyframes btn-slide3 {
  0% {
    left: 120px;
  }
  50% {
    left: 135px;
  }
  100% {
    left: 120px;
  }
}

/* section */

.preselected-cities {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  margin: 20px auto;
  justify-content: center;
  align-items: flex-start;
  height: auto;
}

.city-img img {
  max-width: 100%;
  /*height: auto;*/
}

.city-img {
  height: auto;
  width: 40rem;
}

.city-info {
  margin: 50px 0;
  height: 10rem;
  width: 25rem;
}

.city-info h2 {
  margin-bottom: 1rem;
}
.city-info p {
  margin-bottom: 0.8rem;
}

.city-info a {
  color: rgb(121, 119, 247);
}

.test-barca {
  background: center url("../images/barcelona.jpg") no-repeat;
  background-size: cover;
  margin: 0;
  width: 35rem;
  height: 30rem;
}
.test-dublin {
  background: center url("../images/dublin.jpg") no-repeat;
  background-size: cover;
  margin: 0;
  width: 35rem;
  height: 30rem;
  transition: all 1s;
  animation: change 0.2s;
}
.test-vancouver {
  background: center url("../images/vancouver.jpg") no-repeat;
  background-size: cover;
  margin: 0;
  width: 35rem;
  height: 30rem;
  transition: all 1s;
  animation: change 0.2s;
}

/*  Footer   */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(22, 27, 37);
  color: rgb(255, 255, 255);
  height: 7rem;
}

footer h4 {
  font-size: 1.7rem;
  color: rgb(158, 166, 174);
  margin: 20px 0;
}
footer p {
  text-align: center;
}
/* //////////////////////////////*/

/*  signup */

.signup-section {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;

  justify-content: center;
  height: auto;
}

.signup {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.signup input {
  margin: 20px 0;
  width: 300px;
}

.signup button {
  margin: 20px auto;
}

.signup-img {
  display: flex;
  flex-direction: row;
}
.signup-img img {
  width: auto;
  height: 25rem;
  margin: 50px 0 0 50px;
}

::placeholder {
  text-align: center;
}

/*.signup-section input {
  border: none;
  border-bottom: solid 0.1px black;
  text-align: center;
}*/

/* //////////////////////////////*/

/*  About  */

.about-section {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  padding: 20px 0;
  width: 100%;
  justify-content: center;
  height: 400px;
  background: center url("/images/moscow.jpg") no-repeat;
  background-size: cover;
  color: #f4f3f4;
  animation: fadeIn 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.about-section h4 {
  position: relative;
  top: -110px;
}
#about-article p {
  width: 30rem;
  margin: 70px auto;
}
#about-article {
  position: relative;
}
.inactive {
  opacity: 0;
}
.active {
  opacity: 1;
  transition: all 1s;
  animation: slide 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    left: -100px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes change {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ///////////////*/
/* Search page */

.search-header {
  background: center url("/images/travel-draw.jpg") no-repeat;
  background-size: cover;
  height: 20rem;
}

#results {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#results li {
  margin: 10px 0;
}
#results span {
  background-color: rgb(121, 119, 247);

  text-align: center;
}
@media (min-width: 1024px) {
  .stick {
    /*position: -webkit-sticky;

    position: sticky;
    top: 80px;*/

    position: fixed;
    top: 100px; /* 20px with 650 */
    left: 0px;
  }

  .inactive-img {
    opacity: 0;
  }

  .city-info {
    margin: 100px 0;
  }

  .preselected-cities {
    margin: 80px 0;
    justify-content: space-between;
  }

  .img-change {
    animation: change 1s 1;
  }
}
