@import "reset.css";

body {
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 20%;
}
nav a {
  margin: 5px;
}

header {
  display: flex;
  justify-content: space-between;
}
header div {
  height: 300px;
  width: 300px;
}
header img {
  height: 100%;
}

section {
  display: flex;
}

section img {
  width: 50%;
}
